<!-- src/app/journey-booking/journey-card/journey-card.component.html -->

<div class="card" [ngClass]="{ 'active-card' : selected }">

<!--    
    <div class="card-header">
        <h2 class="title">{{item?.stationname }}</h2>
    </div>
--->

    <div class="card-header" *ngIf="item?.names.DE">
        <h2 class="title">{{item?.names.DE.nameLong}}</h2>
    </div>


    <div class="card-body">
        <p>EVA-Nr.: {{item?.evaNumber}}</p>
        <p>Station ID.: {{item?.stationID}}</p>
        <ul>
            <li *ngFor="let member of item?.groupMembers">{{member}}</li>
        </ul>
        <p *ngIf="item?.availableTransports"> Transport:  {{item?.availableTransports}}</p>
        <p>GPS Position: {{item?.position?.latitude}} , {{item?.position?.longitude}} </p>
        <p>
            <button class="btn btn-default" *ngIf="!selected" (click)="select()">Select</button>
            <button class="btn btn-default" *ngIf="selected" (click)="deselect()">Remove</button>
            <a class="btn btn-default" [routerLink]="['../journey-edit', item?.id, {showDetails:false}]">Edit</a>
        </p>
    </div>

</div>